@using Web.Areas.Admin.ViewModels.LastestNews
@model LastestNewsDetailsVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lastest News Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Created At</th>
                        <th>Modified At</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><img style="width:100px; height:100px; object-fit:contain; justify-content:flex-start" src="~/assets/img/@Model.PhotoName" /></td>
                        <td>@Html.Raw(Model.Title)</td>
                        <td>@Model.Type</td>
                        <td>@Model.CreatedAt.ToString("dddd, dd MMMM yyyy")</td>
                        <td>@Model.ModifiedAt.ToString("dddd, dd MMMM yyyy")</td>
                    </tr>
                </tbody>
                <a asp-action="index" asp-controller="lastestnews" class="btn btn-info mb-2">Go to Back</a>
            </table>
        </div>
    </div>
</div>